<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <!-- Add any additional CSS or scripts here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    <header> 
        <div class="logo">
            <h1 class="platform-title">E-Learning</h1>
        </div>
        <nav> 
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>  

                {% if user.is_authenticated %} 
               
                <li><a href="{% url 'userprofile' user.username %}">User Profile</a></li>
                

                    {% if user.user_type == 'student' %}  
                    <!-- Course List -->
                    <li><a href="{% url 'enrollment' %}">Apply for Courses</a></li>    
                    <li><a href="{% url 'search_page' %}">Search</a></li> 
                    <li><a href="{% url 'post_status_update' %}">Status Update</a></li>

                    {% elif user.user_type == 'teacher' %}
                        <li><a href="{% url 'search_page' %}">Search</a></li>  
                        <li><a href="{% url 'create_course' %}">Course Creation</a></li> 
                    {% endif %}


                    {% if request.user.is_authenticated and request.user.is_student and request.user.enrollments.exists %}
                        
                    
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% endif %}

                {% else %}  
                    <li><a href="/login/">Login</a></li> 
                    <li><a href="/register/">Register</a></li> 
                    
                {% endif %}
                
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                
            </ul>
        </nav>
    </header>
    <h1>Chat Page</h1>
    <p>You are now on the chat page.</p>
    <p>Course: {{ course.title }}</p>
    <p>Topic: {{ topic.name }}</p>

    <p>Chat Group: {{ chat_group.name }}</p>
    
    <main>
        <section class="mock-design">
            <div class="chat-messages">
                <div class="message user-message">
                    MOCK USER MESSAGE 
                </div>
                <!-- More user messages can be added here -->
                <div class="message other-message">
                    
                </div>
            </div>
        </section>
        
        <section class="chat-interface">
            <form id="message-form">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button type="submit">Send</button>
            </form>
        </section>
    </main>

    <script>
        // Establish WebSocket connection
        var socket = 'ws://' + window.location.host + '/ws/chat/{{ course.id }}/{{ topic.id }}/';
        const chatSocket = new WebSocket(socket);
    
        // Log the messages sent by the chat_page view and display them
        document.addEventListener('DOMContentLoaded', function () {

            //Clear all children of the chat messages container
            document.querySelector('.chat-messages').innerHTML = '';

            // Retrieve the serialized messages from the chat interface
            const serializedMessages = JSON.parse('{{ serialized_messages|safe }}');

            // Iterate over the serialized messages and display them
            serializedMessages.forEach(function (messageData) {
                const messageContent = messageData.content;
                const sender = messageData.user;
                addMessage(messageContent, sender === '{{ request.user.username }}');
            });
        });
            
        // Handle received messages
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const sender = data.username;
            addMessage(message, sender === '{{ request.user.username }}');
        };
    
        // Handle closed connections
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        // Function to send messages
        function sendMessage(message) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': '{{ request.user.username }}',
                'course_id': '{{ course.id }}',
                'topic_id': '{{ topic.id }}',
                'chat_group_id': '{{ chat_group.id }}',
            }));
            addMessage(message, true);
        }
    
        // Handle message submission
        document.getElementById('message-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value.trim(); // Trim whitespace
            if (message !== '') {
                sendMessage(message);
                messageInput.value = '';
            }
        });
    
        // Function to add a message to the chat interface
        function addMessage(message, isUserMessage) {
            // Create a new message element
            const messageElement = document.createElement('div');
            messageElement.innerText = message;
    
            // Add appropriate class based on whether it's a user message or other message
            if (isUserMessage) {
                messageElement.classList.add('message', 'user-message');
            } else {
                messageElement.classList.add('message', 'other-message');
            }
    
            // Append the message element to the chat messages container
            document.querySelector('.chat-messages').appendChild(messageElement);
        }
    </script>
</body>
</html>
