<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Learning Platform{% endblock %}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">   
</head>
<body data-user-id="{{ user.id }}">


    <header> 
        <div class="logo">
            <h1 class="platform-title">E-Learning</h1>
        </div>
        <nav> 
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>  

                {% if user.is_authenticated %} 
               
                <li><a href="{% url 'userprofile' user.username %}">User Profile</a></li>
                

                    {% if user.user_type == 'student' %}  
                    <!-- Course List -->
                    <li><a href="{% url 'enrollment' %}">Apply for Courses</a></li>    
                    <li><a href="{% url 'search_page' %}">Search</a></li> 
                    <li><a href="{% url 'post_status_update' %}">Status Update</a></li>

                    {% elif user.user_type == 'teacher' %}
                        <li><a href="{% url 'search_page' %}">Search</a></li>  
                        <li><a href="{% url 'create_course' %}">Course Creation</a></li> 
                    {% endif %}


                    {% if request.user.is_authenticated and request.user.is_student and request.user.enrollments.exists %}
                        
                    
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% endif %}

                {% else %}  
                    <li><a href="/login/">Login</a></li> 
                    <li><a href="/register/">Register</a></li> 
                    
                {% endif %}
                
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                
            </ul>
        </nav>
    </header>

    <main>
       <div class="welcome-user-container">
            <div class="welcome-message">
                <h1>Welcome {{user.username}}</h1>
            </div>

            <div class="user-information">
                <h2>User Information</h2>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>User Type: {{ user.user_type }}</p>
            </div>
        </div>
        <div class="status-updates-container"> 
            <h1>Status Updates</h1>
            <div class="status-updates">
                <!-- Status updates will be appended here by the handleStatusUpdates function -->
            </div>

        </div>

        <div class="course-notifications">
            <h1>Courses</h1>
            <div class="course-update">
                <!-- Course updates will be appended here by the handleCourseUpdates function -->
            </div>
        </div>
        {% if user.user_type == 'teacher' %}
        <div class="feedback-notifications">
            <h2>Feedback Notifications</h2>
            <!-- Feedback notifications will be appended here by the HandleFeedback function -->
        </div>
        {% endif %}

        <div class="notifications-container">
            <h2>Chat Notifications</h2>
            <!-- Chat group notifications will be appended here by the handleChatNotifications function -->
        </div>

    </main>

    <footer>
    </footer>

    <script>
        //Load intial notifications from notifications_json

        document.addEventListener('DOMContentLoaded', function () {
            
            // Load initial notifications from the notifications_json django template variable
            const initialNotifications = JSON.parse('{{ notifications_json|escapejs }}');
            console.log('Initial Notifications:', initialNotifications);
            //print field 'Course Enrollment'
            
            //Course Enrollment
            coursenrollment = initialNotifications['Course Enrollment'];
            for (let i = 0; i < coursenrollment.length; i++) {
                const notification = coursenrollment[i];
                handleCourseEnrollmentUpdates(notification);
            }

            //Status Updates
            statusupdates = initialNotifications['Recent Status Update'];
            for (let i = 0; i < statusupdates.length; i++) {
                const notification = statusupdates[i];
                handleStatusUpdates(notification);
            }

            //Courses
            courses = initialNotifications['Courses'];
            for (let i = 0; i < courses.length; i++) {
                const notification = courses[i];
                handleCourseUpdates(notification);
            }

            //New Topic
            newtopic = initialNotifications['New Topic'];
            for (let i = 0; i < newtopic.length; i++) {
                const notification = newtopic[i];
                handleNewTopicNotification(notification);
            }

            //New Material
            newmaterial = initialNotifications['New Material'];
            for (let i = 0; i < newmaterial.length; i++) {
                const notification = newmaterial[i];
                HandleNewMaterial(notification);
            }

            //Removed Enrollment
            removedenrollment = initialNotifications['Removed Enrollment'];
            for (let i = 0; i < removedenrollment.length; i++) {
                const notification = removedenrollment[i];
                HandleRemoveEnrollment(notification);
            }

            //Feedback
            feedback = initialNotifications['Feedback'];
            for (let i = 0; i < feedback.length; i++) {
                const notification = feedback[i];
                HandleFeedback(notification);
            }

            //Chat Notifications
            chatnotifications = initialNotifications['chat'];
            for (let i = 0; i < chatnotifications.length; i++) {
                const notification = chatnotifications[i];
                handleChatNotifications(notification);
            }




    
            

           

       });
        const socket = new WebSocket('ws://localhost:8000/ws/notifications/');
        const userId = document.body.getAttribute('data-user-id'); // Get the current user's ID from the body tag
        socket.onopen = function(event) {
            console.log('WebSocket connection established.');
        };
        socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
            // Check the type of notification and if the user is a recipient
            if (data.notificationtype === 'Course Enrollment' && data.recipients.includes(parseInt(userId))) {
                handleCourseEnrollmentUpdates(data);
            } else if (data.notificationtype === 'Recent Status Update') {
                handleStatusUpdates(data);
            } else if (data.notificationtype === 'Courses' && data.recipients.includes(parseInt(userId))) {
                handleCourseUpdates(data);
            } else if (data.notificationtype === 'New Topic' && data.recipients.includes(parseInt(userId))) {
                handleNewTopicNotification(data);
            } else if (data.notificationtype === 'New Material' && data.recipients.includes(parseInt(userId))) {
                HandleNewMaterial(data);
            }else if (data.notificationtype === 'Removed Enrollment' && data.recipients.includes(parseInt(userId))) {
                HandleRemoveEnrollment(data);
            }else if (data.notificationtype === 'Feedback' && data.recipients.includes(parseInt(userId))) {
                HandleFeedback(data);
            }else if (data.type === 'notify' && data.recipients_ids.includes(parseInt(userId))) {
                handleChatNotifications(data);
            }
            else {
                console.log('Received message:', data);
            }
        };
    
        socket.onclose = function(event) {
            console.log('WebSocket connection closed.');
        };


        

    
        function handleCourseUpdates(notification) {
    
            const courseContainer = document.querySelector('.course-notifications .course-update'); // Ensure the selector matches your HTML structure
            const courseDiv = document.createElement('div');
            courseDiv.classList.add('course-notification'); // Use a different class to avoid confusion with the container class
    
            const courseP = document.createElement('p');
            courseP.textContent = notification.message;
    
            const courseLink = document.createElement('a');
            courseLink.setAttribute('href', notification.redirectURL);
            courseLink.textContent = 'View Course';
    
            courseDiv.appendChild(courseP);
            courseDiv.appendChild(courseLink);
    
            courseContainer.appendChild(courseDiv);
        }
    
        function handleStatusUpdates(notification) {
    
            const updatesContainer = document.querySelector('.status-updates');
            const updateDiv = document.createElement('div');
            updateDiv.classList.add('status-update');
    
            const messageP = document.createElement('p');
            messageP.textContent = notification.message;
    
            const profileLink = document.createElement('a');
            profileLink.setAttribute('href', notification.redirectURL);
            profileLink.textContent = 'View Profile';
    
            updateDiv.appendChild(messageP);
            updateDiv.appendChild(profileLink);
    
            updatesContainer.appendChild(updateDiv);
        }
    
        function handleCourseEnrollmentUpdates(data) {
            const notificationsContainer = document.querySelector('.course-notifications .course-update');
            const notificationDiv = document.createElement('div');
            notificationDiv.classList.add('course-notification');

            const messageP = document.createElement('p');
            messageP.textContent = data.message;

            const courseLink = document.createElement('a');
            courseLink.setAttribute('href', data.redirectURL);
            courseLink.textContent = 'View Course';

            notificationDiv.appendChild(messageP);
            notificationDiv.appendChild(courseLink);

            notificationsContainer.appendChild(notificationDiv);
        }
        
        function handleNewTopicNotification(data) {
            if (data.notificationtype === 'New Topic' && data.recipients.includes(parseInt(userId))) {
                // Your logic for handling new topic notifications
                const notificationsContainer = document.querySelector('.course-notifications .course-update');
                const notificationDiv = document.createElement('div');
                notificationDiv.classList.add('course-notification');

                const messageP = document.createElement('p');
                messageP.textContent = data.message;

                const topicLink = document.createElement('a');
                topicLink.setAttribute('href', data.redirectURL);
                topicLink.textContent = 'View Topic';

                notificationDiv.appendChild(messageP);
                notificationDiv.appendChild(topicLink);

                notificationsContainer.appendChild(notificationDiv);
            }
        }

        function HandleNewMaterial(data) {
            if (data.notificationtype === 'New Material' && data.recipients.includes(parseInt(userId))) {
                const notificationsContainer = document.querySelector('.status-updates'); // Adjust selector as needed
                const notificationDiv = document.createElement('div');
                notificationDiv.classList.add('new-material-notification');

                const messageP = document.createElement('p');
                messageP.textContent = data.message;

                const materialLink = document.createElement('a');
                materialLink.setAttribute('href', data.redirectURL);
                materialLink.textContent = 'View Material';

                notificationDiv.appendChild(messageP);
                notificationDiv.appendChild(materialLink);

                notificationsContainer.appendChild(notificationDiv);
            }
        }
    
        function HandleRemoveEnrollment(data) {
            if (data.notificationtype === 'Removed Enrollment' && data.recipients.includes(parseInt(userId))) {
                // Logic to display notification to the user
                const notificationsContainer = document.querySelector('.status-updates'); // Use an existing or dedicated container for such messages
                const notificationDiv = document.createElement('div');
                notificationDiv.classList.add('removed-enrollment-notification');

                const messageP = document.createElement('p');
                messageP.textContent = data.message;

                notificationDiv.appendChild(messageP);
                notificationsContainer.appendChild(notificationDiv);
            }
        }
    
        function HandleFeedback(data) {
            if (data.notificationtype === 'Feedback' && data.recipients.includes(parseInt(userId))) {
                const notificationsContainer = document.querySelector('.feedback-notifications'); // Adjust selector as needed
                const notificationDiv = document.createElement('div');
                notificationDiv.classList.add('feedback-notification');

                const messageP = document.createElement('p');
                messageP.textContent = data.message;

                const feedbackLink = document.createElement('a');
                feedbackLink.setAttribute('href', data.redirectURL);
                feedbackLink.textContent = 'View Feedback';

                notificationDiv.appendChild(messageP);
                notificationDiv.appendChild(feedbackLink);

                notificationsContainer.appendChild(notificationDiv);
            }
        }    
    
        function handleChatNotifications(data) {
            // Example: Displaying the notification message. Adjust according to your page's structure.
            const notificationsContainer = document.querySelector('.notifications-container'); // Make sure this selector exists
            if (notificationsContainer) {
                const notificationDiv = document.createElement('div');
                notificationDiv.className = 'chat-group-notification';
                
                const messageText = `New message in chat group: ${data.chat_group_name}. ${data.message} - ${data.sender}`;
                notificationDiv.textContent = messageText;
                
                notificationsContainer.appendChild(notificationDiv);
            }
        }


    </script>

</body>
</html>
