<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Topic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/topiccreation.css' %}"> 
</head>
<body>
    <header> 
        <div class="logo">
            <h1 class="platform-title">E-Learning</h1>
        </div>
        <nav> 
            <ul>
                <li><a href="{% url 'home'%}">Home</a></li>  

                {% if user.is_authenticated %} 
               
                <li><a href="{% url 'userprofile' user.username %}">User Profile</a></li>
                

                    {% if user.user_type == 'student' %}  
                    <!-- Course List -->
                    <li><a href="{% url 'enrollment' %}">Apply for Courses</a></li>    
                    <li><a href="{% url 'search_page' %}">Search</a></li> 
                    <li><a href="{% url 'post_status_update' %}">Status Update</a></li>

                    {% elif user.user_type == 'teacher' %}
                        <li><a href="{% url 'search_page' %}">Search</a></li>  
                        <li><a href="{% url 'create_course' %}">Course Creation</a></li> 
                    {% endif %}


                    {% if request.user.is_authenticated and request.user.is_student and request.user.enrollments.exists %}
                        
                    
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    {% endif %}

                {% else %}  
                    <li><a href="/login/">Login</a></li> 
                    <li><a href="/register/">Register</a></li> 
                    
                {% endif %}
                
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                
            </ul>
        </nav>
    </header>


    <div class="topic-creation-container">
        <h1>Create Topic for {{ course.title }}</h1>
        <form method="POST">
            {% csrf_token %} 
            {{ topic_form.course_id.as_hidden }}
            <div class="form-group">
                <label for="id_name">Topic Name:</label>
                {{ topic_form.name }}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ topic_form.description }}
            </div>
            <button type="submit" class="button">Create Topic</button>
        </form>      
    </div>
</body>
</html>